/* ============================================ */
/*              GENERAL Styling                 */
/* ============================================ */
 
* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin-left: 20px;
}

a {
    color:#000;
    text-decoration: none;
}

li {
    list-style-type: none;
    display: block;
}

div.searchfound {
    font-size: 1.2em;
}

div.searchfound > span:first-child {
    color: green;
}

div.searchnotfound {
    font-size: 1.2em;
}

div.searchnotfound > span:first-child {
    color: red;
}

/* Used to Limit ContentEditable Elements to Single Line Instead of Multi-Line */
/* --------------------------------------------------------------------------- */
[contenteditable="true"].single-line {
    width: 675px;
    white-space: nowrap;
    overflow: hidden;
} 
[contenteditable="true"].single-line br {
    display:none;

}
[contenteditable="true"].single-line * {
    display:inline;
    white-space:nowrap;
}
/* --------------------------------------------------------------------------- */

form[id="addForm"],
form[id="searchForm"]
{
    margin-top: 0em;
    margin-bottom: 50px;
}

label {
    font-size: 1.2em;
    margin: 0 0 5px 5px;
}

input[type="text"] {
    width: 300px;
    padding-right: 10px;
}

input[type="submit"], input[type="button"] {
    margin-left: -5px;
    border-radius: 0 5px 5px 0;
}

input {
    vertical-align: middle;
    padding:10px;
    font-size: 1.2em;
    border-radius: 5px 0 0 5px;
    border: 1px solid #000;
    margin: 0;
}

/* Remove the input focus blue box in firefox. */
input:focus {
    outline: none;
}

/* ============================================ */

#searchForm > label {
    display: block;
}

#searchresults {
    margin:-20px 0 20px 0;
}

#mytasks {
    margin-bottom: 50px;
}

/* ============================================ */
/*              AddTask Styling                 */
/* ============================================ */

li#addtaskfield label {
    font-size: 1.0em;
    padding-right: 10px;
}

li#addtaskfield input[type="text"] {
    height: 15px;
    width: 500px;
    font-size: 1.0em;
}

li#addtaskfield input[type="submit"] {
    height: 37px;
    padding-top: 7px;
    border-left: 0;
    font-size: 1.0em;
    margin-right: -2px;
}

/* ============================================ */
/*              TaskList Styling                */
/* ============================================ */

ul#taskslist {
    max-width: 800px;
    padding-left: 0;
    border-radius: 5px;
    list-style-type: none;
}

ul#taskslist > li {
    padding: 0;
    border: 1px solid #ccc;
    border-width: 0px 1px 1px 1px;
}

ul#taskslist > li:first-child {
    font-size:  1.2em;
    background-color: #e9e9e9;
    border-radius: 7px 7px 0 0;
    border-width: 1px 1px 1px 1px;
}

ul#taskslist > li:last-child {
    height: 20px;
    font-size:  1.2em;
    background-color: #e9e9e9;
    border: 1px solid #ccc;
    border-radius: 0 0 7px 7px;
    border-width: 0px 1px 1px 1px;
}

li.taskitemfield {
    position: relative;
}

.taskitem {
    outline: none;
    font-size: 1.2em;
    padding: 10px 40px 10px 40px;
    overflow: hidden;
}

.taskitemfield:focus,
.taskitemfield:hover {
    background-color: #fff7ed;
}

.taskitemfield:nth-child(odd):focus,
.taskitemfield:nth-child(odd):hover {
    background-color: #fff7ed;
}

.taskitemfield:nth-child(odd) {
    background-color: #f3f8fc;
}

li img.img {
    position: absolute;
    top: 11px;
}

li img.checkmark-img {
    left: 10px;
}

li img.delete-img {
    position: absolute;
    right: 10px;
}

#emptylist {
    text-align: center;
}

#emptylist > p {
    display: inline-block;
    color: red;
    font-size: 1.0em;
}
