* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin-left: 20px;
}

form[id="addForm"],
form[id="searchForm"]
{
    margin-top: 0em;
    margin-bottom: 50px;
}

#mytasks {
    margin-bottom: 50px;
}

#searchresults {
    margin:-20px 0 20px 0;
}

label {
    font-size: 1.2em;
    margin: 0 0 5px 5px;
}

input[type="text"] {
    padding-right: 50px;
}

input[type="submit"], input[type="button"] {
    margin-left: -5px;
    border-radius: 0 5px 5px 0;
}

input {
    vertical-align: middle;
    padding:10px;
    font-size: 1.2em;
    border-radius: 5px 0 0 5px;
    border: 1px solid #000;
    margin: 0;
}

input:focus, input:hover {
    border: 1px solid #000;
}

/* Remove the input focus blue box in firefox. */
input:focus {
    outline: none;
}

a {
    color:#000;
    text-decoration: none;
}

li, label {
    list-style-type: none;
    display: block;
}

ul#taskslist {
    max-width: 800px;
    padding-left: 0;
    border-radius: 5px;
    list-style-type: none; /* Remove bullets */
}

ul#taskslist > li {
    padding: 0;
    border: 1px solid #ccc;
    border-width: 0px 1px 1px 1px;
}

ul#taskslist > li:first-child {
    font-size:  1.2em;
    background-color: #f3f3f3;
    border-radius: 7px 7px 0 0;
    border-width: 1px 1px 1px 1px;
}

ul#taskslist > li:last-child {
    height: 20px;
    font-size:  1.2em;
    background-color: #f3f3f3;
    border: 1px solid #ccc;
    border-radius: 0 0 7px 7px;
    border-width: 0px 1px 1px 1px;
}

li.taskitemfield {
    position: relative;
}

.taskitem {
    outline: none;
    font-size: 1.2em;
    padding: 10px 40px 10px 40px;
    overflow: hidden;
}

.taskitemfield:focus, .taskitemfield:hover {
    background-color: #fff1de;
}

.taskitemfield:nth-child(odd):focus, .taskitemfield:nth-child(odd):hover {
    background-color: #fff1de;
}

.taskitemfield:nth-child(odd) {
    background-color: aliceblue;
}

.img {
    position: absolute;
    top: 11px;
}

.checkmark-img {
    left: 10px;
}

.delete-img {
    position: absolute;
    right: 10px;
}

/* Used to Limit ContentEditable Elements to Single Lines Instead of Multi-Line */
[contenteditable="true"].single-line {
    width: 675px;
    white-space: nowrap;
    overflow: hidden;
} 
[contenteditable="true"].single-line br {
    display:none;

}
[contenteditable="true"].single-line * {
    display:inline;
    white-space:nowrap;
}